<h1>
  {{title}}
</h1>


<div class="container">
  <div class="row">
    <button class="btn btn-primary" (click)="profile()">Profile</button>
    <button class="btn btn-primary" (click)="hello()">Hello</button>
    <button class="btn btn-primary" (click)="post_auth()">Auth</button>

   
    
  </div>
</div>

<div class="container">
  <div class="row">
     <form  #heroForm="ngForm" >
      <input class="btn btn-primary" type="file" (change)="fileChange($event)"/>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>


<div class="container">
  <div class="row"> 
    <form >
      <button class="btn btn-primary" type="submit" (click)="downloadForm()">Download</button>
    </form>
  </div>
</div>